.finsishedTest{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: var(--light-blue);
    padding: var(--gap-s);
    gap: var(--gap-m);
}

.score{
    font-size: var(--font-sizeMed);
    background-color: var(--background-orange);
}
.quizHeading{
    font-size: var(--font-sizeMed);
}
.quizBody{
    font-size: var(--font-sizeSmall);
}
.msgesWrapper{
    border: 1px solid black;
}
.passed{
    background-color: var(--background-green);
}
.failed{
    background-color: red;
}
.quizName{
    font-size: var(--font-sizeBig);
    background-color: var(--background-orange);
}

.msgesWrapper{
    gap: var(--gap-m);
}