.Line{
    display: flex;
    border: 0.5mm solid grey;
    flex-wrap: wrap;
    align-items: stretch ;
    justify-content: center;
    width: 100%;
}
.grayLine{
    background-color: var(--background-grey);
}
.orangeLine{
    background-color: var(--background-orange);
}
.whiteLine{
    background-color: var(--background-white);
}
.greenLine{
    background-color: var(--background-green);    
}
.PartLine{
    border: 0.5mm solid grey;
    display: flex;
    justify-content: center;
    flex: 1;
}