:root{
    --background-orange: #F47B0A;
    --background-grey: #e6e6e6;
    --background-blue:#122FC3;
    --background-green: #3CEB79;
    --background-white: #ffffff;
    

    --main-font:  'Open Sans', sans-serif;
}